<html>
    <head>
        <title>Hangman</title>
    </head>
    <body>
        <p class="lives">
        Lives remaining: <%= lives %>
        </p>
        <div class="game-word">
        <p>
        <%= word %>
        <br>
        <%= game_string %>
        </p>
        </div>
        <div class="letter-container">
        <% unplayed_letters.each_with_index do|item, index|%>
            <% if item != ""%>
            <a class="letter-active" href="/?choice=<%=index%>"><%= item %></a>
            <%else%>
            <a class="letter-inactive"><%=alphabet[index]%></a>
            <%end%>
        <% end %>
        </div>
        <div>
        <a href="/?reset=true">Reset</a>
        </div>
    </body>
</html>