<html>
    <head>
        <title>Hangman</title>
    </head>
    <body>
        <p>
        <%= flash_message %>
        <br>
        <%= unplayed_letters %>
        <br>
        <%= played_letters %>
        </p>
        <div>
        <p>
        <%= word %>
        <br>
        <% word_letters.each do |word_letter|%>
            <% match = false%>
            <% played_letters.each do |played| %>
                <% if word_letter == played %>
                    <span><%= word_letter %></span>
                    <% match = true%>
                <% end %>
            <% end %>
            <% if !match %>
                <span><%= "_" %></span>
            <% end %>
        <% end %>
        </p>
        </div>
        <div>
        <% unplayed_letters.each_with_index do|item, index|%>
            <% if item != ""%>
            <a href="/?choice=<%=index%>"><%= item %></a>
            <%else%>
            <a><%=alphabet[index]%></a>
            <%end%>
        <% end %>
        </div>
        <div>
        <a href="/?reset=true">Reset</a>
        </div>
    </body>
</html>