<html>
    <head>
        <title>Hangman</title>
    </head>
    <body>
        <p>
        <%= flash_message %>
        <br>
        <%= unplayed_letters %>
        </p>
        <div>
        <p>
        <%= word %>
        <br>
        <%= game_string %>
        </p>
        </div>
        <div>
        <% unplayed_letters.each_with_index do|item, index|%>
            <% if item != ""%>
            <a href="/?choice=<%=index%>"><%= item %></a>
            <%else%>
            <a><%=alphabet[index]%></a>
            <%end%>
        <% end %>
        </div>
        <div>
        <a href="/?reset=true">Reset</a>
        </div>
    </body>
</html>